<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SkillSwapApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D4EDEAA2E0455D400792574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D4EDEBB2E0455D800792574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D4EDEC52E0455D800792574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
